.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 10px;
}

.header-title {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: #fff;
  color: #000;
  transition: background-color 0.5s ease;
}

body.dark-mode {
  background-color: #2b2234;
  color: #fff;
}

.dark-mode-button {
  background-color: #f2f2f2;
  color: rgb(65, 65, 65);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  padding: 5px 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
  margin-left: 0.5rem;

  &:hover {
    background-color: #000;
    color: #fff;

    .fas.fa-moon {
      color: rgb(255, 255, 255);
    }

    .fas.fa-sun {
      color: rgb(255, 255, 255);
    }
  }
}

.history-mode-button {
  background-color: #f2f2f2;
  color: rgb(65, 65, 65);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  padding: 5px 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
  margin-left: 0.5rem;

  &:hover {
    background-color: #000;
    color: #fff;

    .fas.fa-clock {
      color: rgb(255, 255, 255);
    }

    .fas.fa-comment {
      color: rgb(255, 255, 255);
    }
  }
}
i.fas {
  font-size: 15px;
  color: rgb(55, 55, 55);
  padding: 10px;
  cursor: pointer;
}


@media (max-width: 576px) {
  .header {
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .header-title {
    margin-bottom: 10px;
  }

  .dark-mode-button {
    margin-top: 10px;
    margin-left: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-out {
  animation: fadeIn 0.3s;
}

// Tablet Styles
@media (min-width: 576px) and (max-width: 768px) {
  .header {
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .header-title {
    margin-bottom: 10px;
  }

  .dark-mode-button {
    margin-top: 10px;
    margin-left: 0;
  }
}

// Desktop Styles
@media (min-width: 768px) {
  .header {
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 10px;
  }

  .header-title {
    margin: 0;
  }

  .dark-mode-button {
    margin-top: 0;
    margin-left: 0.5rem;
  }
}