<body [ngClass]="{'dark-mode': isDarkMode}">
    <div class="header">
        <h1 class="header-title">Lasha Gamrekelashvili - Personalis Notitia</h1>
        <button class="history-mode-button" (click)="toggleHistoryMode()">
            <i class="fas fa-{{ showHistory ? 'comment' : 'clock' }}"></i>
            <span>{{ showHistory ? 'Show Dialog' : 'Show History' }}</span>
        </button>

        <button class="dark-mode-button" (click)="toggleDarkMode()">
            <i class="fas fa-{{ isDarkMode ? 'sun' : 'moon' }}"></i>
            <span>{{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}</span>
        </button>
    </div>

    <div class="fade-in-out">
        <ng-container *ngIf="!showHistory">
            <app-dialog-conversation></app-dialog-conversation>
        </ng-container>

        <ng-container *ngIf="showHistory">
            <div class="history-container">
                <app-dialog-history></app-dialog-history>
            </div>
        </ng-container>
    </div>
</body>