<body [ngClass]="{'dark-mode': isDarkMode}">
    <div class="header">
        <h1 class="header-title">Lasha Gamrekelashvili - Personalis Notitia</h1>
        <button class="dark-mode-button" (click)="toggleDarkMode()">
            <i class="fas fa-{{ isDarkMode ? 'sun' : 'moon' }}"></i>
            <span>{{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}</span>
        </button>
    </div>

    <div class="chatbot-container">
        <div class="chatbot-input-container">
            <form (submit)="onFormSubmit($event)">
                <div class="input-container">
                    <input type="text" [(ngModel)]="userInput" name="userInput" placeholder="Type a question...">
                    <i class="fas fa-paper-plane" (click)="onFormSubmit($event)"></i>
                </div>
            </form>
        </div>
        <div class="chatbot-output-container" #chatHistoryContainer>
            <div *ngFor="let chat of chatHistory" class="chat-history">
                <div class="user-input">{{ chat.userInput }}</div>
                <div class="chatbot-output">{{ chat.chatbotOutput }}</div>
            </div>
        </div>
        <div class="clear-button-container">
            <button class="clear-button" (click)="onClear()">Clear</button>
        </div>
    </div>
</body>