.header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.header-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
}

.chatbot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.chatbot-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.chatbot-input-container {
    margin-bottom: 20px;
}


.input-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    transition: box-shadow ease-in-out 0.15s;
    font-family: 'Roboto Mono', monospace;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px #66afe9;
}

i.fas {
    font-size: 20px;
    color: #000;
    padding: 10px;
    cursor: pointer;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.chatbot-output-container {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    width: 400px;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
}